.row
  .col-md-6.offset3.center
    %h1
      You've been assigned a request:
    %hr
.row
  .col-md-6.offset3
    .request
      .tag
        Request ##{@request.id}
      %h2
        = @request.title
      %p
        = @request.description
