%table#requests.table.table-hover.table-bordered
  %thead
    %tr
      %th.request_id
        ID
      %th
        Title
      %th
        Requester
      %th
        Status
  %tbody
    - @requests.each do |request|
      %tr
        %td
          = request.id
        %td
          = link_to request.title, request
        %td
          = request.requester
        %td
          %span.label{ class: (label_class request.status) }
            = request.status
