/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require requests
 *= require devise
 *= require sessions
 */

// Use OpenSans for Twitter Bootstrap.
$baseFontFamily: 'OpenSans';

@import "bootstrap";
@import "common";

body {
  font-family: 'OpenSans';
}

.alert {
  margin-top: 20px;
}

.context-menu {
  padding: 8px 0;
  margin-top: 20px;
}

.sidebar {
  padding: 8px 0;
  margin-top: 30px;
}

.footer {
  color: #777;

  hr {
    margin-top: 100px;
    margin-bottom: 0px;
  }
}

form {
  margin: 0;
}

textarea {
  height: 120px;
  width: 500px;
}

#quick_search {
  margin-left: 3px;
}

nav {
  border-left: 1px solid $light_grey;

  ul {
    padding-left: 0px;

    li {
      list-style: none;
      padding: 5px 10px 5px 15px;

      &.header {
        font-weight: bold;
        font-size: small;
        text-transform: uppercase;
        color: $dark_grey;

        &:nth-child(n+1) {
          margin-top: 10px;
        }
      }

      &.active {
        background-color: $lighter_grey;
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.btn-primary {
  margin-top: 20px;
}
