// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#comment_content {
  width: 90%;
}

.comment {
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;

  h5 {
    margin-top: 0;
  }
}
