// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea#comment_content {
  width: 90%;
}

.comments {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 1px #fff, inset 0 0 140px 0 #ddd, 0 0 6px 0 #ccc;
  padding: 10px;
  margin: 10px;

  h5 {
    color: #555;
    text-shadow: 0 1px 0 #FFF;
    margin-top: 0;
  }
}
