// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common"

table#requests
  margin-top: 20px

textarea#comment_content
  width: 90%

.request
  @include box
  margin-top: 20px

  .comments
    margin-top: 20px

    h4
      margin-bottom: 20px

    .comment
      h5
        color: #555
        margin-top: 0

th.request_id
  width: 50px

ul#attachments
  margin-left: 0px
  margin-right: 45px
  li
    list-style-type: none
    border-bottom: 1px solid #eee
