// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "common"

table#requests
  margin-top: 20px

textarea#comment_content
  width: 90%

.empty_set
  color: #CCC
  height: 200px
  background-image: url(/assets/zero.png)
  background-repeat: no-repeat
  padding-left: 200px
  padding-top: 40px
  margin-left: 60px
  margin-top: 50px

.requests
  margin-top: 20px
  margin-left: 0
  border: 1px solid #ccc
  border-radius: 0 0 4px 4px
  box-shadow: 0 0 6px #ccc

  // Small (list-style) requests
  li
    padding: 5px
    list-style: none
    border: none
    border-bottom: 1px solid #ccc
    a
      color: inherit
      &:hover
        text-decoration: none

    &.request
      box-shadow: inset 0 0 0 1px #fff, inset 0 0 90px 0 #e3e3e3
      &:hover
        box-shadow: inset 0 0 0 1px #fff, inset 0 0 90px 0 #efefef
      .avatar
        width: 32px
        float: left
        margin-right: 6px
        padding-right: 15px
        border-right: 1px solid #DDD
      h5
        margin-top: 0
        margin-bottom: 2px
      .request_id
        float: right
        text-align: right
        padding-right: 4px
        color: #777

    // Footer/info bar
    &:last-child
      border: 0
      font-weight: bold
      font-size: smaller
      color: #888
      padding: 2px
      padding-left: 12px
      background-color: #eee

div.request
  @include box
  margin-top: 20px
  margin-bottom: 60px

  .comments
    margin-top: 20px

    h4
      margin-bottom: 20px

th.request_id
  width: 50px

ul#attachments
  margin-left: 0px
  margin-right: 45px
  li
    list-style-type: none
    border-bottom: 1px solid #eee
