!!! 5
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    = stylesheet_link_tag 'notifier'
  %body
    .container
    = yield
    .row
      .col-md-6.col-md-offset-3.center
        %hr
        Click #{link_to 'here', @url} to view the request.
